# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/

# Environment
.env

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
